<head>
  <link rel="stylesheet" href="https://cssgram-cssgram.netdna-ssl.com/cssgram.min.css">
</head>

<body class="transform">
  <h1> This is a Processing Image App</h1>



<!-- <div class="grid-container">

  <div class="grid-item">
      <div class="demo">
         <div class="no-bg-blend"> </div>
      </div>
      <div class="demo">
         <div class="bg-blend"> </div>
      </div>
  </div>

  </div> -->

  <div class="row">

    <div class="column">
      <div class="demo">
         <div class="no-bg-blend"> </div>
      </div>
    </div>

    <div class="column">
      <div class="demo">
         <div class="bg-blend"> </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="column">
      <div class="demo">
         <div class="no-bg-blend"> </div>
      </div>
    </div>

    <div class="column">
      <div class="demo">
         <div class="selective-color-effect"> </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="column">
      <div class="demo">
         <div class="no-hallucination-effect"> </div>
      </div>
    </div>

    <div class="column">
      <div class="demo">
         <div class="hallucination-effect"> </div>
      </div>
    </div>

  </div>

<div class="row">
  <div class="column">
    <div class="demo">
      <div class="gif-blended">

      </div>
    </div>
  </div>
</div>

</body>
